html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 13px;
}

p {
  margin: 5px 0px;
}

.header {
  background-color: #c0c0c0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subreddit-title {
  font-weight: bold;
  font-size: 15px;
  padding: 4px 10px;
  text-decoration: none;
  color: #000000;
  white-space: normal;px;
}
  word-break: normal;
}

.header-links {
  padding-right: 10px;
}

.header-links a {
  color: #000000;
}

.post-list {
  display: table;
  border-spacing: 5px;
}

.no-list-style {
  list-style-type: none;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}

.post {
  color: #828282;
  display: table-row;
}

.post-body {
  display: table-cell;
  vertical-align: top;
}

.post-thumbnail {
  display: table-cell;
  vertical-align: top;
  width: 100px;
  height: auto;
}

.post-title {
  color: #000000;
  text-decoration: none;
}

.post-domain {
  font-size: 11px;
}

.post-info {
  font-size: 10px;
}

.nowrap {
  white-space: nowrap;
}

.next-page-link {
  padding: 20px 10px;
  font-size: 15px;
}

.post-summary {
  padding: 10px 5px;
}

.subreddit-link {
  color: #828282;
}

.post-selftext {
  padding: 0px 15px;
}

.comments {
  padding: 10px 5px;
}

.comment-heading {
  padding-left: 5px;
}

.comment {
  margin-bottom: 10px;
}

.comment.child {
  margin-left: 10px;
}

.comment-details {
  font-size: 10px;
  color: #828282;
}

summary {
  outline: none;
  margin-bottom: -5px;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 10px 10px 5px;
  padding: 2px 10px;
}

pre {
  background: #f9f9f9;
  font-size: 8px;
  padding: 2px 10px;
}

.landing-desc {
  padding: 10px 5px;
  font-size: 10px;
}

@media (prefers-color-scheme: dark) {

  body {
    color: #fff;
    background-color: #121212;
  }

  .header {
    background-color: #bb86fc;
  }

  .post-title {
    color: #fff;
    opacity: 0.87
  }

  .post-domain {
    color: #fff;
    opacity: 0.6
  }

  .post-info {
    color: #fff;
    opacity: 0.6
  }

  .post-selftext {
    opacity:0.87;
  }

  .subreddit-link {
    color: #03dac6;
  }

  .comment-heading {
    opacity: 0.87;
  }

  .comment-text {
    opacity: 0.87;
  }

  a {
    color: #03dac6;
  }

  blockquote {
    color: #fff;
    background: rgba(255, 255, 255, 0.16);
  }

  pre {
    color: #fff;
    background: rgba(255, 255, 255, 0.16);
  }

}